# OS X being annoying 
.DS_Store


# resources
*.jpg

# Compiled python files
*.pyc

# Lyx backup files
*.lyx~

# Object files and binaries
*.o
*.out

# TeX Stuff
*.fls
*.log
*.nav
*.toc
*.snm
*.aux
*.fdb_latexmk
## don't name any folders auto please, or they will get ignored
**/auto/
